<section class="h-screen w-72 bg-white border-r-2 border-r-slate-300 flex flex-col p-10 text-center">
  <header class="font-bold text-emerald-800 text-4xl">Inventory Manager</header>
  <ul class="flex flex-col mt-24 text-3xl font-medium text-teal-600 gap-4 text-opacity-25">
    <li class="">
      <a class="text-opacity-25 hover:text-opacity-50\
      " routerLink="materials">Materials</a>
    </li>
    <li>
      <a class="hover:text-opacity-75" routerLink="products">Products</a>
    </li>
  </ul>
</section>